<div class="container">
  <div class="row col-6 flex-column">
    <h1>Stupid Coaching</h1>
    <form class="mt-3" action="/answer">
      <div class="form-group">
        <label for="question">Ask your coach anything</label>
        <div class="form-inline">
          <input type="text" class="questionInput form-control flex-grow-1
" id="question" name="question" placeholder="Enter your question for the coach...?">
          <input type="submit" value="Ask!" class="questionSubmit btn btn-primary">
        </div>
        <small class="form-text text-muted">Really anything!</small>
      </div>
    </form>
  </div>
</div>
